{% extends "rheia/base_site.html" %}
{% load staticfiles %}

{% block title %}My Time | Rheia{% endblock %}

{% block content %}
    <h1>{{ user.first_name }} {{ user.last_name }}'s Logged Time</h1>

    <div class="timeform">
        <h2>Log time</h2>

        <form action=""
              method="post">
            {% csrf_token %} {{ form.as_p }} <input type="submit"
                                                    value="Submit"/>
        </form>
    </div>

    {% if object_list.count %}
        <div class="timesheets">
            <h2>Time Sheets</h2>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Start Date</th>
                    <th>Start Time</th>
                    <th>End Date</th>
                    <th>End Time</th>
                    <th>Minutes</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.start_time|default_if_none:"-" }}</td>
                        <td>{{ item.end_date|default_if_none:"-" }}</td>
                        <td>{{ item.end_time|default_if_none:"-" }}</td>
                        <td>{{ item.minutes|default_if_none:"-" }}</td>
                        <td>{% if item.is_active %}&#10004;{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7" class="timesheet-total">
                        Total logged time: {{ total_hours }} hours.
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
{% endblock content %}

{% block footer %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/form/time.js' %}"></script>
{% endblock footer %}
