{% extends "rheia/base_site.html" %}
{% block title %}Myself | Rheia{% endblock %}
{% block content %}
    {% if user.first_name %}
        <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    {% else %}
        <h1>Welcome, {{ user.username }}!</h1>
    {% endif %}
    {% if not teams_count %}
        <div class="alert alert-warning" role="alert">
        Please note: you are not a member of any group.
        You need to be a member of a team to be able to log time.
        </div>
    {% endif %}
    <h2>Things to do</h2>
    <div class="alert alert-info" role="alert">
        Have you <a href="{% url 'user_time' user.username %}">logged some time</a> today?
    </div>
{% endblock content %}
