{% extends "rest_framework/base.html" %}{% load staticfiles %}

{% block title %}Rheia API{% endblock %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet"
          type="text/css"
          href="{% static "css/rheia.css" %}"/>
{% endblock style %}

{% block userlinks %}
{% endblock %}

{% block branding %}
    <a class='navbar-brand navbar-api logo'
       rel="nofollow"
       href='/'> <img class="logo-mini"
                      alt="Rheia Logo"
                      src="{% static 'img/rheia-logo.svg' %}"/></a>
{% endblock %}
