p,
li {
    font-size: medium;
}

body.login {
    background-color: #B0C4DE;
}

#header {
    background-color: white;
}

#branding {
    float: none;
}

#branding h1,
#branding h2 {
    color: #222222;
    text-align: center;
}

#branding h1 {
    font-size: xx-large;
}

#branding h2 {
    font-size: x-large;
}

nav.navbar {
    background-color: cornflowerblue;
    border-color: azure;
    border-bottom-width: 1em;
    color: white;
}

nav .logo img {
    float: left;
    width: 48px;
    height: 48px;
}

nav .navbar-brand strong,
nav ul.nav li a.nav {
    color: white;
}

.logo img,
.logo-mini {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.login #container {
    margin-top: 32px;
}


#container {
    min-width: auto;
}

.timeform {
    max-width: 20em;
}

.user-timesheets .timesheets {
    float: right;
}

.timesheet-total {
    text-align: right
}

.ok {
    color: green;
}

.attention {
    color: orange;
}

ul.list-group-submenu {
    list-style-type: none;
}

.list-group-item {
    background-color: #eeeeee;

}

.navbar-api {
    padding: 8px
}

.cup {
    width: 50%;
    height: 50%;
}

#chart svg {
    height: 500px;
    width: 400px;
}
