p,
li {
    font-size: medium;
}

#header {
    background-color: white;
}

#branding {
    float: none;
}

#branding h1,
#branding h2 {
    color: #222222;
    text-align: center;
}
#branding h1 {
    font-size: xx-large;
}
#branding h2 {
    font-size: x-large;
}

div.breadcrumbs {
    font-size: medium;
}

.logo img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.login #container {
    margin-top: 32px;
}

#container {
    min-width: auto;
}

.endlinks {
    float: right;
}

.timeform {
    max-width: 20em;
}

.timesheets {
    margin-top: 40px;
    float:right;
}

.timesheet-total {
    text-align: right
}
