{% load staticfiles %}{% load bootstrap3 %}{% load sidebar_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="description"
          content="">
    <meta name="author"
          content="">
    <link rel="icon"
          href="../../favicon.ico">
    <title>{% block title %}Rheia{% endblock title %}</title>
    {% bootstrap_css %}
    {% block extrastyle %}
        <link rel="stylesheet"
              type="text/css"
              href="{% static "css/dashboard.css" %}"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static "admin/css/login.css" %}"/>
        <link rel="stylesheet"
              type="text/css"
              href="{% static "css/rheia.css" %}"/>
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <img alt="Rheia Logo"
                         src="{% static 'img/rheia-logo.svg' %}"/>
                    <a class="navbar-brand"
                       href="#"> <strong>Rheia</strong></a>
                </div>
            </div>
            <div id="navbar"
                 class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %}
                        <li><a class="nav"
                               href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a class="nav"
                           href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}
<div class="container-fluid">
    <div class="row">
        {% block container_size %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% endblock container_size %}
        {% block content %}
            {{ content }}
        {% endblock content %}
        </div>
        {% block sidebar %}
            {% user_sidebar %}
        {% endblock sidebar %}
    </div>
</div>
{% block footer %}
    <div class="scripts">
        <script src="{% static 'js/lib/jquery-2.2.0.min.js' %}"
                type="text/javascript"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'js/lib/dashboard-ie.js' %}"
                type="text/javascript"></script>
    </div>
{% endblock footer %}
</body>
</html>
