{% extends "rheia/base_site.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}My Time{% endblock %}

{% block content %}
    {% if user.first_name %}
        <h1>{{ user.first_name }} {{ user.last_name }}'s Logged Time</h1>
    {% else %}
        <h1>{{ user.username }}'s Logged Time</h1>
    {% endif %}

    <div class="user-timesheets">
        {% include "rheia/partials/time_sheet_table.html" %}
    </div>

    <div class="timeform">
        <h2>Log time</h2>
        <form class="form"
              action=""
              method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" value="Submit">
            {% bootstrap_icon "star" %} Submit
            </button>
            {% endbuttons %}
        </form>
    </div>

{% endblock content %}

{% block footer %}
{{ block.super }}
    {{ form.media }}
{% endblock footer %}
