{% extends "rheia/base_site.html" %}
{% load staticfiles %}{
{% block title %}Myself | Rheia{% endblock %}
{% block content %}
    {% if user.first_name %}
        <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    {% else %}
        <h1>Welcome, {{ user.username }}!</h1>
    {% endif %}
    {% if not teams_count %}
        <div class="alert alert-warning" role="alert">
        Please note: you are not a member of any group.
        You need to be a member of a team to be able to log time.
        </div>
    {% endif %}
    <h2>Things to do</h2>
    <div class="alert alert-info" role="alert">
        Have you <a href="{% url 'user_time' user.username %}">logged some time</a> today?
    </div>

    <h2>Insights</h2>
    {% if has_data %}
    <h3>Time by activity</h3>
    <div id="chart">
        <svg></svg>
    </div>
    {% else %}
        <p>No data yet!</p>
    {% endif %}
{% endblock content %}
{% block footer %}
    {{ block.super }}
    <div class="scripts">
        <script src="{% static 'js/lib/d3.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/lib/nv.d3.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/charts/user_charts.js' %}" type="text/javascript"></script>
    </div>
{% endblock footer %}
